<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSP-App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
				<key>dateExpires</key>
				<string>7/21/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20220623.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE1EC639A8ABF3852F3E759CFEF3E37EA2BAC451</string>
						<key>dateExpires</key>
						<string>7/21/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SVY23N26W4</string>
						<key>name</key>
						<string>Melhem Rahmeh</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SVY23N26W4.com.mycompany.cspapp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SVY23N26W4</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>SVY23N26W4.com.mycompany.cspapp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6076b01e-a540-4cbc-93e6-6153ae24c8fb</string>
				<key>dateExpires</key>
				<string>7/21/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mycompany.cspapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SVY23N26W4</string>
				<key>name</key>
				<string>Melhem Rahmeh</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
